gitHubKey
gitHubKey.pub

# Ignorar todos os executáveis e DLLs gerados
*.exe
*.dll

# Garantir que as pastas necessárias sejam incluídas
!/server/
!/server/bin/
!/server/bin/*.exe

!/client/
!/client/bin/
!/client/bin/*.exe

# Ignorar backups e arquivos temporários
*.bak
*.tmp
*.old
